@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

#submit{
    display: none;
}

body {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
    /* background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%); */
    /* background: linear-gradient(135deg, rgb(75, 116, 29), rgb(116, 117, 31)); */
    color: rgba(255, 255, 255, .98);
    font-family: 'Nerko One', cursive;
    font-weight: 0;
    line-height: 1.3;
    font-size: 18px;
    -webkit-text-stroke: .4px black;
}

h1 {
    font-size: 41px;
}

h1:hover {
    font-size: 41px;
    background: -webkit-linear-gradient(#F53803, #F5D020);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    max-width: 650px;
    margin: 0 auto;
    padding-top: 2rem;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

input:not(input[type="radio"], input[type="checkbox"]),
select,
textarea,
button {
    border: none;
    padding: .7rem .6rem;
    border-radius: .2rem;
    width: 100%;
}

input[type="radio"],
input[type="checkbox"] {
    transform: scale(1.4);
    margin-right: .3rem;
    margin-left: .4rem;

}

.form-heading {
    text-align: center;
    padding: .1rem .45rem;
}

.form-heading h1 {
    margin-bottom: .2rem;
    font-weight: 400;
}

.form-heading p {
    margin-bottom: 1.4rem;
}

.form {
    background-color: rgba(12, 12, 12, .4);
    padding: 2.4rem 1rem;
    border-radius: .2rem;
}

.form-group {
    margin-bottom: .9rem;
    border: none;
}

.form-group label {
    display: block;
}

.form-group label,
.form-group legend {
    margin-bottom: .45rem;
}

.form-group .comment {
    height: 8rem;
}

/* .submit {
    background-color: rgb(85, 175, 141);
    padding: .9rem .2rem;
    color: inherit;
    cursor: pointer;

    transition: 0.3s;
}

.submit:hover {
    background-color: #09d396;
} */

/* animated submit button */

.btn__submit {
    position: relative;
    display: inline-block;
    display: grid;
    place-items: center;
    padding: 10px 20px;
    color: #03e9f4;
    -webkit-text-stroke: .4px black;
    font-size: 20px;
    font-weight: 100;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 30px;
    letter-spacing: 4px
}

.btn__submit:hover {
    background: #03e9f4;
    color: rgb(10, 11, 21);
    border-radius: 10px;

}

.btn__submit span {
    position: absolute;
    display: block;
}

.btn__submit span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.btn__submit span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .27s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.btn__submit span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.btn__submit span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}